{% for user in users %}
<tr>
    <td class="text-center">{{ loop.index + (users.page - 1) * users.per_page }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.phone_number }}</td>
    <td>{{ user.role.name if user.role else 'No role' }}</td>
    <td class="text-center">
        {% if current_user.is_authenticated %}
            {% if current_user.role_id == 1 %}
                <a href="/usermanager/edit/{{ user.id }}" class="btn btn-outline-warning">Edit</a>
                <a href="/delete/{{ user.id }}" class="btn btn-outline-danger">Delete</a>
            {% endif %}
        {% endif %}
    </td>
</tr>
{% endfor %}
